.cardPageWrapper {
    padding: 24px;
}

.сardPage {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: column;
    float: left;
    padding: 0 1rem;
    width: auto;
    height: auto;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}
