.cardPageWrapper {
  padding: 24px;

  max-width: 500px;
}

.сardPage {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;

  margin: 1rem 1rem 1rem 0;
}

.field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
